*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color:  hsl(0, 0%, 90%);
   font-family: 'League Spartan';
   font-weight: 700;;
}


.calc-wrapper{
  padding: 5rem;
  
}


.header{
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-size: 16px;

}


.numbers{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    position: relative;
    left: 8px;
    
}

.double-btn{
  width: 11.3rem;
  margin-top: 1rem;
}

.numbers-screen{
  position: relative;
 
  background-color: hsl(0, 5%, 81%);
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 22rem;
  border-radius: 10px;
  padding-top: 1rem;
  
}

button{
  width: 4rem;
  /* height: 4rem; */
  border-radius: 10px;
  border: none;
  font-size: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 30px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(0, 5%, 81%) 0px 7px 0px 0px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
  
  
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
 }



.radio-input {
  
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 5%, 81%);
    border-radius: 9px;
    padding: 0.1rem;
  }
  
  .radio-input input {
    
    appearance: none;  
    /* width: 0.6em;
    height: 1em; */
    background-color: hsl(0, 5%, 81%);
    /* box-shadow: inset 2px 5px 10px rgb(5, 5, 5); */
    border-radius: 50%;
    transition: .4s ease-in-out;
    position: relative;
    top: 0.012em;
    left: 0.3em;
    width: 0.6em;
    height: 0.6em 
  }
  
  .radio-input input:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
  }
  
  .radio-input .circle {
    position: relative;
    top: 0.012em;
    left: -0.3em;
    width: 0.6em;
    height: 0.6em;
    background-color: yellow;
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .radio-input input:checked {
    box-shadow: hsl(0, 5%, 81%);
    border: 1px solid hsl(0, 5%, 81%);

  }
  
  .radio-input input:checked + .circle {
    transform: rotate(360deg);
    scale: 1;
  }
  
  

  .screen{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    
    background-color: hsl(0, 0%, 93%);
    width: 25rem;
    height: 5rem;
    border-radius: 10px;
    margin: 1rem 0rem;
  }

  .screen h1{
    
    font-weight: bolder;
    font-size: 30px;
    align-self: center;
    margin-right: 1rem;
  }